*.sh text eol=lf
backend/open_webui/backend_customer/tryon/ckpt/densepose/model_final_162be9.pkl filter=lfs diff=lfs merge=lfs -text
backend/open_webui/backend_customer/tryon/ckpt/humanparsing/parsing_atr.onnx filter=lfs diff=lfs merge=lfs -text
backend/open_webui/backend_customer/tryon/ckpt/humanparsing/parsing_lip.onnx filter=lfs diff=lfs merge=lfs -text
backend/open_webui/backend_customer/tryon/ckpt/openpose/ckpts/body_pose_model.pth filter=lfs diff=lfs merge=lfs -text
